$font-size-base: 1rem !default;

$primary:       #616161 !default;
$secondary:     #001d38 !default;

$body-bg:       #efefef !default;
$body-color:    #222222 !default;

$grid-gutter-width: 30px !default;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans",sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;